@import "tailwindcss";

@theme {
  --color-primary: #8E4A63;
  --color-secondary: #423F4C;
  --color-gold: #F0D793;
  --color-card-points: #3C1A24;
  --color-card-stamps: #252525;
  --color-btn-dark: #423F4C;
  --color-pill-bg: #F2F2F2;
  --color-terms-bg: #fdf4e3;
  --color-muted: #ADADAD;
  --color-border: #F2F2F2;
  --color-contact-label: #ADADAD;
  --color-contact-info: #1C1C1C
}

@theme inline {
  --font-sans: var(--font-inter);
}

body {
  background: #ffffff;
  color: #1C1C1C;
  font-family: var(--font-sans), Arial, sans-serif;
}